@model WebApp.Models.DBModels.CategoryMast
@{
    ViewBag.Title = "Add Category";
}

<h3>Add Category</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.HiddenFor(item => item.CategoryID, new { @Value = 999 })
        @Html.ValidationSummary(true)

        @*@Model.CategoryID=999*@

        <div class="form-group">
            @Html.LabelFor(item => item.CategoryName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" id="cancelBtn" value="Cancel" class="btn btn-default" />
            </div>
        </div>


    </div>
}

@section scripts{

    <script>

        var $cancelBtn = document.getElementById("cancelBtn");

        console.log("$cancelBtn:", $cancelBtn);

        $cancelBtn.onclick = function (e) {

            var url = '@Url.Action("Index")';
            console.log("Button clicked:", url);

            window.location.href = url;
        };

    </script>


}
